body {
	background-color: #EAFFFF;
	text-align: center;
}

header {
	background-color: black;
	color: white;
	text-align: right;
	font-size: 25px;
	font-style: bold;
	padding: 5px 15px;
}

a {
	text-decoration: none;
	color: white;
	font-style: bold;
}

b {
	float: left;
}

p {
	font-size: 20px;
}