body {
	background-color: #EAFFFF;
	text-align: center;
}

header {
	background-color: black;
	color: white;
	text-align: right;
	font-size: font-size:4vw;
	font-style: bold;
	padding: 5px 15px;
}

a {
	text-decoration: none;
	color: white;
	font-style: bold;
}

b {
}

h1 {
	color: white;
	font-size: 40px;
	background-image: url("images/starStrip.jpg");
	padding: 100px 0px 100px 0px;
}

p {
	font-size: 20px;
}

.footer { 
	position: static;     
	text-align: center; 
	padding: 20px 0px 20px 0px;
	color: gray;	
    bottom: 20px; 
    width: 100%;
}



